<div class="row gy-3">
{{#each media as |item|}}
{{>media-card item}}
{{/each}}
</div>
{{#unless media}}
<div class="alert alert-danger text-dark text-center">It looks like there isn't anything here yet!</div>
<div class="text-center">
    <a class="btn btn-style" href="/media">Add something!</a>
</div>
{{/unless}}
<script src="/js/browse.js"></script>