{{!-- {{#if List}} --}}
<div class="card">
  <div class="card-body text-center">
    <p>Your next binge is:</p>
  </div>
</div>

<br>

<div class="card">
  <h2 class="card-header" id="media-title">{{title}}</h2>
  <div class="card-body">
    <p id="media-type">{{type}}</p>
    <div class="mt-3">
        <p id="media-info">{{info}}</p>
    </div>
  </div>
</div>
{{!-- {{/if}}
{{#unless list}}
<div class="alert alert-warning">{{List}}It looks like there isn't anything here yet!</div>
<div class="text-center">
    <a class="btn btn-secondary" href="/media">Add something!</a>
</div>
{{/unless}} --}}