<h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
<form action="/" enctype="multipart/form-data" method="post" id="image-upload">
    <input type="number" name="id" id="id">
    <input type="file" name="image" accept='image/*' id="image">
    <input type="submit" value="Upload">
</form>
<script src="/js/upload.js"></script>